Django
gunicorn
dj-database-url
whitenoise
psycopg2
lxml
pyyaml
requests

# required for matrixstore
numpy
pandas
pyarrow
zstandard
lz4
scipy
google-api-python-client
google-cloud-bigquery
google-cloud-storage