{% extends "_base.html" %}
{% load static %}
{% block content %}
<h1>Examining variation in test request rates</h1><small class='text-muted'>02 Sep, 2019</small><div class="entry-content" itemprop="text">
<p>We are excited to reveal some of the data for our new <a href="https://openpathology.net/">OpenPathology.net</a> project. Similar to our previous project for NHS prescribing data (<a href="https://openprescribing.net/">openprescribing.net/</a>), we are developing free, open dashboards for analysing NHS pathology data. So far we have data from two laboratories (North Devon and Cornwall), and have started to analyse it.</p>



<h3>What have we found so far? </h3>



<p>Lots. This blog post is one in a series highlighting some initial insights we have noted. </p>



<p>To start with, we’ve noted substantial variation in the number of tests (per 10,000 population) different practices order. I want to highlight an example in this blog. </p>



<p>Figure 1 below shows the total number of Alanine Aminotransferase (ALT; a liver function test) tests ordered by one practice orders (per 10,000 population). The graph also shows how this practice compares to other General Practices (deciles indicated in blue). Clearly, these GPs tend to order a much larger number of ALT tests compared to their colleagues in other practices. </p>



<figure class="wp-block-image is-resized"><img src="https://lh4.googleusercontent.com/FNXTxADxjYmSRSH2o7-X1j6PGf0_UB_l_7oDaot4Fyt30-55tkICUH15Eh_VCKaM3neat7qh4gr4UQQGEbEY4rKHp6xkvIVaeRF0mRHhODTNGmNFnnbUJDtDq87DHsiViE3udshG" alt="" width="458" height="320"></figure>



<p>The next chart shows another practice in a different CCG that clearly tends to order many fewer ALT tests than the previous practice. </p>



<figure class="wp-block-image is-resized"><img src="https://lh5.googleusercontent.com/eRLtuv7AN27x35Xnz1ydv3RXVNRAlHs8HLMDRl8KRrZDMo_w6z-h2O4eQEIzUoWhWyNOpO4pcLPgZcW0r0HFD95-AqU9fOBx8_vzOFHYhRjnZjmCR4k-fjLbbhL5rgM-ZlZ9-_S-" alt="" width="476" height="333"></figure>



<p></p>



<h3><strong>Why does this matter? </strong></h3>



<p>General Practitioners (GPs) currently have no idea how many tests they ordered compared to their colleagues. Feedback can be useful for a number of reasons, such as prompting reflections and audits on one’s practice, and feedback <a href="https://www.cochrane.org/CD000259/EPOC_audit-and-feedback-effects-on-professional-practice-and-patient-outcomes">has also been shown</a> to have a positive impact on future practice.</p>



<p>Beyond useful feedback for clinicians, this variation in practice is of value for all NHS users to explore and understand. It is plausible that both of these practices provide excellent care and order these tests appropriately. However, the <a href="https://doi.org/10.1016/S0140-6736(14)62055-9">identification of inefficiency</a> is one of the NHS’s priorities, and variation in care <a href="https://doi.org/10.1038/s41598-018-23263-z">can be</a> an <a href="https://doi.org/10.1186/s12916-018-1217-1">early indicator</a> of this.</p>



<h2><strong>What next? </strong></h2>



<p>Having compared variation at a practice level, it is instructive to look at variation at higher levels, such as laboratory or CCG. Our <a href="https://ebmdatalab.net/?p=5587">next blog post</a> describes some interesting issues we needed to solve before we can move on with our analyses.</p>



<p>We are still keeping busy collecting more and more data from around the UK. The more data we have, the better we can explore variation such as what we’ve seen above. If you’re interested in getting involved in OpenPathology or can contribute data, get in touch: <a href="mailto:ebmdatalab@phc.ox.ac.uk">ebmdatalab@phc.ox.ac.uk</a>. </p>



<hr class="wp-block-separator">



<h2><strong>Stay up to date</strong></h2>



<div class="wp-block-button"><a class="wp-block-button__link has-text-color has-very-dark-gray-color has-background has-pale-cyan-blue-background-color" href="https://t.co/rxeS5Ot3DY?amp=1"><h3><strong> Join our <em>OpenPathology</em> mailing list </strong></h3></a></div>

</div><hr><p><a href='{% url 'blog' %}'>Read more OpenPathology blogs</a></p>
{% endblock %}
