{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="header">
  <h1>OpenPathology.net</h1>
</div>

<div class="row">
  <div class="col-sm">
    <p>
      OpenPathology is a new project being built by
      the <a href="https://ebmdatalab.net/">EBM DataLab</a> at the
      University of Oxford.
    </p>
    <p>
      There has been a rapid expansion in the ordering of blood
      tests over the last two decades.
    </p>
    <p>
      At OpenPathology, we are setting out to bring all pathology
      data together, in one place, so that users can explore
      variation in the way that clinicians are ordering tests, and
      give useful feedback to doctors.
    </p>
    <h2>Why does this matter?</h2>
    <p>
      You can read our first paper on variation in test ordering
      and test
        results <a href="https://www.nature.com/articles/s41598-018-23263-z">here</a>.
    </p>
  </div>
</div>
{% endblock %}
