{% extends "_base.html" %}
{% load static %}

{% block content %}

      <div class="header">
        <h1>OpenPathology.net</h1>
      </div>

      <div class="content">
        <p>
          OpenPathology is a new project being built by
          the <a href="https://ebmdatalab.net/">EBM DataLab</a> at the
          University of Oxford.
        </p>
        <p>
          There has been a rapid expansion in the ordering of blood
          tests over the last two decades.
        </p>
        <p>
          At OpenPathology, we are setting out to bring all pathology
          data together, in one place, so that users can explore
          variation in the way that clinicians are ordering tests, and
          give useful feedback to doctors.
        </p>
        <h2>Who are you?</h2>
        <p>
          We are the team
          behind <a href="https://openprescribing.net/">OpenPrescribing.net</a>,
          an openly accessible tool for all NHS primary care
          prescribing data. On OpenPrescribing you can explore
          variation over time and place in prescribing for any
          individual drug, or class of drugs, right down to the level
          of individual practices. You can explore outliers, and see
          which practices are fast or slow to respond to changes in
          price, or changes in the evidence on safety and
          effectiveness. You can see standard dashboards for every
          practice and CCG, and subscribe to “prescribing alerts”
          driven by cutting edge data science techniques.
        </p>

        <h2>Why does this matter?</h2>
        <p>
          You can read our first paper on variation in test ordering
          and test
          results <a href="https://www.nature.com/articles/s41598-018-23263-z">here</a>.
        </p>

        <h2>Join Us!</h2>
        <p>
          We have a good team assembled.  If you’d like
          to <a href="mailto:hello@ebmdatalab.net">join us</a> on
          OpenPathology, or want
          to <a href="mailto:hello@ebmdatalab.net">hear more</a> when
          we start to ship our tools, then please get in
          touch: <a href="mailto:hello@ebmdatalab.net">hello@ebmdatalab.net</a>
        </p>
        <p>
          We are always keen to hear from more:
          <ul>
            <li>Policymakers</li>
            <li>Hospital Pathologists</li>
            <li>Public Health staff</li>
            <li>Funders</li>
            <li>Microbiologists</li>
            <li>GPs</li>
            <li>Possible users</li>
            <li>Other researchers</li>
            <li>Other data science teams</li>
          </ul>

        <p>...and anyone else wanting to improve and refine the use of diagnostic tests!</p>
      </div>

{% endblock %}
