{% extends "_base.html" %}
{% load static %}

{% block content %}

<div class="header">
  {% if measure %}
  <h1>Measure {{ measure.title }}</h1>
  <p>{{ measure.why_it_matters }}</p>
  {% elif practice %}
  <h1>All measures for {{ practice.name }}</h1>
  {% endif %}
</div>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {% if not request.GET.filter %}active{% endif %}"
       href="?">All practices</a>
  </li>
  {% for group in groups %}
  <li class="nav-item">
    <a href="?filter={{ group.codes.first }}"
       class="nav-link {% if group.active %}active{% endif %}"
       >{{ group.name }} ({{ group.kind.name }})</a>
  </li>
    {% endfor %}
</ul>
<div class="row">
  <div class="col-sm">
    {% for measure in urls_and_codes %}
      {% if measure.measure_id %}
        <a href="{% url 'measure' measure=measure.measure_id %}"><img class="measure-chart" src="{% static measure.url %}"></a>
      {% elif measure.practice_code %}
        <a href="{% url 'practice' practice=measure.practice_code %}"><img class="measure-chart" src="{% static measure.url %}"></a>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
