{% extends "_base.html" %}
{% load static %}

{% block content %}
<div class="header">
  <h1>OpenPathology.net: relevant research</h1>
</div>

<div class="row">
  <div class="col-sm">
    <h2>Research by member of our team</h2>
    <ul>
      <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/30487169">enormous
          increases</a> in the use of tests</li>
      <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/29556075">substantial
          variation</li>
      <li>We have also written <a href="https://bmjopenquality.bmj.com/content/8/1/e000349">quality
          improvement report</a> </li>
    </ul>
  </div>
</div>
{% endblock %}
